* {
    margin: 0;
    padding: 0;
}

#cabecalho {
    background-color: green;
    padding: 10px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    text-align: center;
}

body {
    background-color: rgb(253, 251, 251);
}

#titulo {
    color: white;
}

#descricao {
    display: inline-block;
    float: right;
    border: 2px solid red;
    width: 300px;
    height: 73px;
    margin-right: 0;
}

main {
   margin-left: 30px;
   display: inline-block;
    
}

#minha_foto {
    margin-top: 30px;
    width: 200px;
}

.link-perfil a {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 10px;
}

.link-perfil {
    list-style: none;
}

.titulo-licoes {
    display: inline;
    padding: 0;
}

#licoes_aprendidas {
    margin-left: 22px;
}

.licoes {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
}

#experiencia {
    margin-top: 50px;
    margin-bottom: 50px;
}

#rodape {
    text-align: center;
    margin-bottom: 20px;
}